/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


img,
picture {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #eabb48;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 40px
}

#header-logo {
  width: 100%;
}

#nav-img-container {
  width: 10%;
}

/* Banner */
#banner-container {
  height: 500px;
  background-color: #eabb48;
  clip-path: ellipse(93% 100% at 50% 0%);
  padding: 50px 150px 150px 150px
}

#banner-content {
  display: flex;
}

#banner-img-container {
  width: 50%;
}

/* Sort Bar */

#sort-bar {
  display: flex;
  justify-content: center;
}

#sort-bar-list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

#sort-bar-list li {
  background-color: #b8362f;
  width: 100px;
  text-align: center;
  padding: 5px 20px;
  border-radius: 20px;
}

/* Card Container */
#cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 150px;
  flex: 1 1 200px;
  flex-wrap: wrap
}

/* Card */
.card-container {
  border: 1px solid black;
  flex: 1 0 30%
}
.card-img-container img {
  min-width: 300px;
  height: 300px;
  object-fit:cover;
}

.trash {
  width:10%;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}