/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;

}

img,
picture {
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Roboto', sans-serif;
  color: #1F1F1F;
}

body {
  background-color: #F5F5F5;
}

/* Header */
nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #eabb48;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
  padding: 0
}

nav ul a {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
}

nav ul a.active {
  text-decoration: underline;
  text-underline-offset: 10px;
  font-style: italic
}

#header-logo {
  width: 100%;
}

#nav-img-container {
  width: 10%;
}

/* Home */
#banner-container {
  height: 500px;
  background-color: #eabb48;
  clip-path: ellipse(93% 100% at 50% 0%);
  padding: 50px 150px 650px 150px
}

#banner-content h1 {
  font-size: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

#banner-content {
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}

#banner-img-container {
  grid-column: 4 / -1;
  grid-row: 1;
}

#banner-text {
  grid-row: 1;
  grid-column: 2 / span 8;
  padding-top: 20%; 
  z-index: 1;
}

#banner-img-container img {
  width: 100%;
  display: block;
}

#banner-img-container img {
  width: 100%;
} 

#rotd-container {
  padding: 200px;
}

#rotd-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rotd-text h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

#rotd-text h6 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

#rotd-text h6:before {
    content: "_____";
    color: #ACBC71;
    position: relative;
    top: -5px;
    left: -45px;
}

#rotd-text h6:after {
    content: "_____";
    color: #ACBC71;
    position: relative;
    top: -5px;
    right: -45px;
}

#rotd-text {
  margin-right: 80px;
}

 #featured-ingredients, #featured-instructions {
  margin-top: 20px;
}

#featured-ingredients ul {
  list-style: none;
}

#featured-instructions li {
  margin-bottom: 15px;
}

#rotd-img-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
}

/* Sort Bar */

#sort-bar {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#sort-bar-list {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

#sort-bar-list button {
  background-color: #ACBC71;
  width: 100px;
  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

/* Card Container */
#cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 75px 150px;
  flex: 1 1 200px;
  flex-wrap: wrap;
} 

/* Card */
.card-container {
  box-shadow: 10px 5px 20px rgb(182, 182, 182);
  flex: 1 0 30%;
  max-width: 400px;
  border-radius: 20px;
  background-color: white;
}

.card-details {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}

.card-img-container {
  width: 100%;
}
.card-img-container img {
  width: 400px;
  height: 400px;
  object-fit:cover;
  border-radius: 20px 20px 0 0;
}

.recipe-details {
  margin-top: -40px;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.titles {
  padding: 5px;
  margin: 0 50px;
  background-color: #EABB48;
  border-radius: 20px;
  position: relative;
  height: 120px;
  /* bottom: 30px; */
  transform: translate(0%, -20%);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.titles h2, h4{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.titles h4 {
  font-style: italic;
  color: grey;
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0;
}

.card-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card-options label {
  font-style: italic;
  font-size: 14px;
  color: grey;
}

select {

  padding-right: 10px;
  border: none;
  border-radius: 15px;
  height: 30px;
}

.trash {
  width:5%;
  cursor: pointer;
}

.recipe-details h6 {
  font-size: 20px;
  text-align: center;
  margin: 30px 0 10px 0;
}

.recipe-details h6:before {
    content: "_____";
    color: #ACBC71;
    position: relative;
    top: -5px;
    left: -45px;
}

.recipe-details h6:after {
    content: "_____";
    color: #ACBC71;
    position: relative;
    top: -5px;
    right: -45px;
}

.instructions ol {
  padding: 0 20px 20px 20px;
}

.instructions li {
    margin-bottom: 15px;
}

